<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.boundMapper">

<select id="getInBoundBoardList" resultType="com.itwillbs.domain.BoundDTO">
	select m.mib_cd, m.ord_cd, pr.pro_type, pr.pro_name, o.ord_vol,
	w.wh_name, m.mib_info_status, m.mib_date, m.user_id
	from MINBOUND m
	join ORDERS o
	on m.ord_cd = o.ord_cd
	join PRODUCT pr
	on pr.pro_cd = o.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search1 != null">m.mib_cd like CONCAT('%',#{search1},'%')</if>
	<if test="search2 != null">and pr.pro_name like CONCAT('%',#{search2},'%')</if>
	<if test="search3 != '' and search4 != '' and search3 != null and search4 != null">
								and m.mib_date between #{search3} and #{search4}</if>
	<if test="search3 == '' and search4 != ''" >and m.mib_date &lt;= #{search4}</if>
	<if test="search3 != '' and search4 == ''" >and m.mib_date &gt;= #{search3}</if>
<!-- 	<if test="select1 == 'all'">and mib_info_status = 0 or 1</if> -->
	<if test="select1 == 'ing'">and mib_info_status = 0</if>
	<if test="select1 == 'com'">and mib_info_status = 1</if>
	</where>
	order by mib_cd desc
	limit #{startRow},#{pageSize}
</select>

<select id="getInBoundBoardList2" resultType="com.itwillbs.domain.BoundDTO">
	select p.pib_cd, p.per_cd, pe.actual_completion_amount, pr.pro_name, w.wh_name,
	p.pib_info_status, p.pib_date, p.user_id
	from PINBOUND p
	join PERFORMANCE pe
	on p.per_cd = pe.per_cd
	join INSTRUCTION i
	on pe.ins_cd = i.ins_cd
	join PRODUCT pr
	on pr.pro_cd = i.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search5 != null">p.pib_cd like CONCAT('%',#{search5},'%')</if>
	<if test="search6 != null">and pr.pro_name like CONCAT('%',#{search6},'%')</if>
	<if test="search7 != '' and search8 != '' and search7 != null and search8 != null">
								and p.pib_date between #{search7} and #{search8}</if>
	<if test="search7 == '' and search8 != ''" >and p.pib_date &lt;= #{search8}</if>
	<if test="search7 != '' and search8 == ''" >and p.pib_date &gt;= #{search7}</if>
<!-- 	<if test="select2 == 'pib_all'">and pib_info_status = 0 or 1</if> -->
	<if test="select2 == 'pib_ing'">and pib_info_status = 0</if>
	<if test="select2 == 'pib_com'">and pib_info_status = 1</if>
	</where>
	order by pib_cd desc
	limit #{startRow},#{pageSize}
</select>

<select id="getInBoundBoardCount" resultType="java.lang.Integer">
	select count(m.mib_cd)
	from MINBOUND m
	join ORDERS o
	on m.ord_cd = o.ord_cd
	join PRODUCT pr
	on pr.pro_cd = o.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search1 != null">m.mib_cd like CONCAT('%',#{search1},'%')</if>
	<if test="search2 != null">and pr.pro_name like CONCAT('%',#{search2},'%')</if>
	<if test="search3 != '' and search4 != '' and search3 != null and search4 != null">
								and m.mib_date between #{search3} and #{search4}</if>
	<if test="search3 == '' and search4 != ''" >and m.mib_date &lt;= #{search4}</if>
	<if test="search3 != '' and search4 == ''" >and m.mib_date &gt;= #{search3}</if>
<!-- 	<if test="select1 == 'all'">and mib_info_status = 0 or 1</if> -->
	<if test="select1 == 'ing'">and mib_info_status = 0</if>
	<if test="select1 == 'com'">and mib_info_status = 1</if>
	</where>
</select>

<select id="getInBoundBoardCount2" resultType="java.lang.Integer">
	select count(p.pib_cd)
	from PINBOUND p
	join PERFORMANCE pe
	on p.per_cd = pe.per_cd
	join INSTRUCTION i
	on pe.ins_cd = i.ins_cd
	join PRODUCT pr
	on pr.pro_cd = i.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search5 != null">p.pib_cd like CONCAT('%',#{search5},'%')</if>
	<if test="search6 != null">and pr.pro_name like CONCAT('%',#{search6},'%')</if>
	<if test="search7 != '' and search8 != '' and search7 != null and search8 != null">
								and p.pib_date between #{search7} and #{search8}</if>
	<if test="search7 == '' and search8 != ''" >and p.pib_date &lt;= #{search8}</if>
	<if test="search7 != '' and search8 == ''" >and p.pib_date &gt;= #{search7}</if>
<!-- 	<if test="select2 == 'pib_all'">and pib_info_status = 0 or 1</if> -->
	<if test="select2 == 'pib_ing'">and pib_info_status = 0</if>
	<if test="select2 == 'pib_com'">and pib_info_status = 1</if>
	</where>
</select>

<update id="inBoundPro1">
	update MINBOUND
	set mib_info_status = 1,
		mib_date = now()
	where mib_cd = #{mib_cd}
</update>

<!-- <update id="inBoundPro1_1"> -->
<!-- 	update PRODUCT -->
<!-- 	set pro_vol = pro_vol + #자재 입고 수량 -->
<!-- 	where pro_cd = #뭐시기 -->
<!-- </update> -->

<update id="inBoundPro2">
	update PINBOUND
	set pib_info_status = 1,
		pib_date = now()
	where pib_cd = #{pib_cd}
</update>

<!-- <update id="inBoundPro2_1"> -->
<!-- 	update PRODUCT -->
<!-- 	set pro_vol = pro_vol + #제품 입고 수량 -->
<!-- 	where pro_cd = #뭐시기 -->
<!-- </update> -->

<select id="getOutBoundBoardList" resultType="com.itwillbs.domain.BoundDTO">
	select o.*, c.*, pr.*, w.*
	from OUTBOUND o
	join CONTRACT c
	on o.con_cd = c.con_cd
	join PRODUCT pr
	on pr.pro_cd = c.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search1 != null">o.ob_cd like CONCAT('%',#{search1},'%')</if>
	<if test="search2 != null">and pr.pro_name like CONCAT('%',#{search2},'%')</if>
	<if test="search3 != '' and search4 != '' and search3 != null and search4 != null">
								and o.ob_date between #{search3} and #{search4}</if>
	<if test="search3 == '' and search4 != ''" >and o.ob_date &lt;= #{search4}</if>
	<if test="search3 != '' and search4 == ''" >and o.ob_date &gt;= #{search3}</if>
<!-- 	<if test="select1 == 'all'">and ob_info_status = 0 or 1</if> -->
	<if test="select1 == 'ing'">and ob_info_status = 0</if>
	<if test="select1 == 'com'">and ob_info_status = 1</if>
	</where>
	order by ob_cd desc
	limit #{startRow},#{pageSize}
</select>

<select id="getOutBoundBoardCount" resultType="java.lang.Integer">
	select count(o.ob_cd)
	from OUTBOUND o
	join CONTRACT c
	on o.con_cd = c.con_cd
	join PRODUCT pr
	on pr.pro_cd = c.pro_cd
	join WAREHOUSE w
	on w.wh_cd = pr.wh_cd
	<where>
	<if test="search1 != null">o.ob_cd like CONCAT('%',#{search1},'%')</if>
	<if test="search2 != null">and pr.pro_name like CONCAT('%',#{search2},'%')</if>
	<if test="search3 != '' and search4 != '' and search3 != null and search4 != null">
								and o.ob_date between #{search3} and #{search4}</if>
	<if test="search3 == '' and search4 != ''" >and o.ob_date &lt;= #{search4}</if>
	<if test="search3 != '' and search4 == ''" >and o.ob_date &gt;= #{search3}</if>
<!-- 	<if test="select1 == 'all'">and ob_info_status = 0 or 1</if> -->
	<if test="select1 == 'ing'">and ob_info_status = 0</if>
	<if test="select1 == 'com'">and ob_info_status = 1</if>
	</where>
</select>

<update id="outBoundPro">
	update OUTBOUND
	set ob_info_status = 1,
		ob_date = now()
	where ob_cd = #{ob_cd}
</update>

<!-- <update id="outBoundPro_1"> -->
<!-- 	update PRODUCT -->
<!-- 	set pro_vol = pro_vol + #수주량 -->
<!-- 	where pro_cd = #뭐시기 -->
<!-- </update> -->


</mapper>