<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.memberMapper">

<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
select USER_ID "id" , USER_PASS "pass" , USER_NAME "name" , USER_PERM "permission"
from USER
where USER_ID = #{id} and USER_PASS = #{pass}
</select>

<select id="getMemberList" resultType="com.itwillbs.domain.MemberDTO">
select USER_ID "id", USER_NAME "name", USER_PASS "pass", USER_PHONE "phone", USER_PERM "permission"
from USER 
<where>
	<if test="search1 != '' and search1 != null"  >
	USER_ID like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
	and USER_NAME like concat('%', #{search2}, '%')
	</if>
	</where>
	order by USER_ID desc
    limit #{startRow}, #{pageSize}
</select>

<insert id="insertMember">
insert into USER(USER_ID,USER_NAME,USER_PASS,USER_PHONE,USER_PERM)
values(#{id}, #{name}, #{pass}, #{phone}, #{permission})
</insert>

<insert id="insertMemberAuth">
insert into USER_AUTH
values(#{id}, #{auth})
</insert>

<update id="updateMember">
update USER
SET USER_PERM = #{permission}
where USER_ID = #{id}
</update>

<delete id="deleteMember">
delete
from USER
WHERE USER_ID = #{id}
</delete>

<select id="getMember" resultMap="memberMap">
	select m.user_id, m.user_pass, m.user_name, m.user_phone, m.user_perm, a.auth
	from USER m left join USER_AUTH a
	on m.user_id = a.user_id
	where m.user_id = #{id}
</select>

<select id="getMemberCount" resultType="java.lang.Integer">
	select count(*)
	from USER
	<where>
	<if test="search1 != '' and search1 != null"  >
	USER_ID like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
	and USER_NAME like concat('%', #{search2}, '%')
	</if>
	</where>
</select>

<select id="searchMemberList" resultType="com.itwillbs.domain.MemberDTO">
select USER_ID "id", USER_NAME "name", USER_PASS "pass", USER_PHONE "phone", USER_PERM "permission"
from USER 
<where>
<if test="id != null">
USER_ID like concat('%',#{id},'%')
</if>
<if test="name != null">
and USER_NAME like concat('%',#{name},'%')
</if>
</where>
order by USER_ID
</select>

<resultMap type="com.itwillbs.domain.MemberDTO" id="memberMap">
	<id property="user_id" column="user_id"/>
	<result property="user_id" column="user_id"/>
	<result property="user_pass" column="user_pass"/>
	<result property="user_name" column="user_name"/>
	<result property="user_phone" column="user_phone"/>
	<result property="user_perm" column="user_perm"/>
	<collection property="authList" resultMap="authMap"></collection>
</resultMap>

<resultMap type="com.itwillbs.domain.AuthDTO" id="authMap">
	<result property="user_id" column="user_id"/>
	<result property="auth" column="auth"/>
</resultMap>





</mapper>