<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.itwillbs.mappers.orderMapper">

<insert id="insertOrder">
insert into ORDERS(ORD_CD, CLI_CD, USER_ID, PRO_CD, ORD_VOL, ORD_DATE, ORD_DUE_DATE, ORD_INFO_STATUS, ORD_PAY_DATE)
values(#{ord_cd}, #{cli_cd}, #{user_id}, #{pro_cd},#{ord_vol}, #{ord_date}, #{ord_due_date}, #{ord_info_status},#{ord_pay_date})
</insert>

<insert id="insertContract">
insert into CONTRACT(CON_CD, CLI_CD, PRO_CD, CON_VOL, CON_DATE, CON_DUE_DATE, CON_INFO_STATUS, CON_PAY_DATE)
values(#{con_cd}, #{cli_cd}, #{pro_cd},#{con_vol}, #{con_date}, #{con_due_date}, #{con_info_status},#{con_pay_date})
</insert>

<select id="getOrderList" resultType="com.itwillbs.domain.OrdercontractDTO">

select o.*, c.*, p.*
	from ORDERS o
	join PRODUCT p
	on o.pro_cd = p.pro_cd
	join CLIENT c
	on c.cli_cd = o.cli_cd
<where>
<if test="ord_cd != '' and ord_cd != null"  >
o.ORD_CD like concat('%', #{ord_cd}, '%')
</if>
<if test="pro_name != '' and pro_name != null ">
and p.PRO_NAME like concat('%', #{pro_name}, '%')
</if>
<if test="cli_name != '' and cli_name != null ">
and c.CLI_NAME like concat ('%', #{cli_name}, '%')
</if>
</where>	
</select>
 
<select id="getContractList" resultType="com.itwillbs.domain.OrdercontractDTO">

select c.*, cl.*, p.*
	from CONTRACT c
	join PRODUCT p
	on c.pro_cd = p.pro_cd
	join CLIENT cl
	on c.cli_cd = cl.cli_cd
	<where>
<if test="con_cd != '' and con_cd != null ">
c.CON_CD like concat('%', #{con_cd}, '%')
</if>
<if test="pro_name != '' and pro_name != null">
and p.PRO_NAME like concat('%', #{pro_name}, '%')
</if>
<if test="cli_name != '' and cli_name != null">
and cl.CLI_NAME like concat ('%', #{cli_name}, '%')
</if>
</where>
</select>

<update id="updateOrder">
	update ORDERS
	SET ORD_CD = #{ord_cd}, PRO_CD = #{pro_cd},  CLI_CD= #{cli_cd},ORD_VOL= #{ord_vol},  USER_ID= #{user_id},ORD_DATE= #{ord_date},
	ORD_DUE_DATE= #{ord_due_date},ORD_PAY_DATE= #{ord_pay_date}
	where ORD_CD = #{ord_cd}
</update>

<update id="updateContract">
	update CONTRACT
	SET CON_CD = #{con_cd}, PRO_CD = #{pro_cd},  CLI_CD= #{cli_cd},CON_VOL= #{con_vol}, CON_DATE= #{con_date},
	CON_DUE_DATE= #{con_due_date},CON_PAY_DATE= #{con_pay_date}
	where CON_CD = #{con_cd}
</update>

<select id="getSearchOrderList" resultType="com.itwillbs.domain.OrdercontractDTO">
select o.ORD_CD "ord_cd", p.PRO_NAME "pro_name", c.CLI_NAME "cli_name", o.ORD_VOL "ord_vol",p.PRO_PRICE "pro_price",USER_ID "user_id",
o.ORD_DATE "ord_date",o.ORD_DUE_DATE "ord_due_date",p.PRO_VOL "pro_vol",o.ORD_INFO_STATUS "ord_info_status"
from ORDERS o join PRODUCT p
on o.pro_cd = p.pro_cd 
join CLIENT c 
on c.cli_cd = o.cli_cd 
	
order by ORD_CD desc
</select>



<select id="getSearchContractList" resultType="com.itwillbs.domain.OrdercontractDTO">
select c.CON_CD "con_cd",p.PRO_NAME "pro_name",cl.CLI_NAME "cli_name",c.CON_VOL "con_vol",p.PRO_PRICE "pro_price",USER_ID "user_id",
c.CON_DATE "con_date",c.CON_DUE_DATE "con_due_date",p.PRO_VOL "pro_vol",c.CON_INFO_STATUS "con_info_status"
from CONTRACT c
	join PRODUCT p
	on c.pro_cd = p.pro_cd
	join CLIENT cl
	on c.cli_cd = cl.cli_cd
	
order by CON_CD desc
</select>

<delete id="deleteOrder">
			delete from ORDERS
			where ord_cd = #{ord_cd}
</delete>
<delete id="deleteContract">
			delete from Contract
			where con_cd = #{con_cd}
</delete>

<select id="getConLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(CON_CD, '[^0-9]', '') AS numbers_only
	FROM CONTRACT
	ORDER BY numbers_only DESC
	LIMIT 1
</select>
<select id="getOrdLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(ORD_CD, '[^0-9]', '') AS numbers_only
	FROM ORDERS
	ORDER BY numbers_only DESC
	LIMIT 1
</select>

</mapper>