<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.itwillbs.mappers.orderMapper">

<insert id="insertOrder">
insert into ORDERS(ORD_CD, CLI_CD, USER_ID, PRO_CD, ORD_VOL, ORD_DATE, ORD_DUE_DATE, ORD_INFO_STATUS, ORD_PAY_DATE)
values(#{ord_cd}, #{cli_cd}, #{user_id}, #{pro_cd},#{ord_vol}, #{ord_date}, #{ord_due_date}, #{ord_info_status},#{ord_pay_date})
</insert>

<insert id="insertContract">
insert into CONTRACT(CON_CD, CLI_CD, PRO_CD, CON_VOL, CON_DATE, CON_DUE_DATE, CON_INFO_STATUS, CON_PAY_DATE)
values(#{con_cd}, #{cli_cd}, #{pro_cd},#{con_vol}, #{con_date}, #{con_due_date}, #{con_info_status},#{con_pay_date})
</insert>

<select id="getOrderCount" resultType="java.lang.Integer">
	select count(*)
	from ORDERS o
	left join PRODUCT p
	on o.pro_cd = p.pro_cd
	left join CLIENT c
	on c.cli_cd = o.cli_cd
	<where>
	<if test="search1 != '' and search1 != null"  >
	o.ORD_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
	and c.CLI_NAME like concat('%', #{search2}, '%')
	</if>
	<if test="search3 != '' and search3 != null ">
	and p.PRO_NAME like concat('%', #{search3}, '%')
	</if>
	</where>
</select>

<select id="getOrderList" resultType="com.itwillbs.domain.OrdercontractDTO">
select o.*, c.*, p.*
	from ORDERS o
	left join PRODUCT p
	on o.pro_cd = p.pro_cd
	left join CLIENT c
	on c.cli_cd = o.cli_cd
<where>
<if test="search1 != '' and search1 != null"  >
o.ORD_CD like concat('%', #{search1}, '%')
</if>
<if test="search2 != '' and search2 != null ">
and c.CLI_NAME like concat('%', #{search2}, '%')
</if>
<if test="search3 != '' and search3 != null ">
and p.PRO_NAME like concat ('%', #{search3}, '%')
</if>
</where>
order by o.ORD_CD desc	
limit #{startRow},#{pageSize}
</select>

<select id="getOrder" resultType="com.itwillbs.domain.OrdercontractDTO">
select o.ORD_CD "ord_cd", p.PRO_NAME "pro_name",p.PRO_CD "pro_cd", c.CLI_NAME "cli_name",c.CLI_CD"cli_cd", o.ORD_VOL "ord_vol",p.PRO_PRICE "pro_price",
o.ORD_PAY_DATE "ord_pay_date",o.ORD_DUE_DATE "ord_due_date",o.ORD_INFO_STATUS "ord_info_status"
from ORDERS o join PRODUCT p
on o.pro_cd = p.pro_cd 
join CLIENT c 
on c.cli_cd = o.cli_cd
where o.ord_cd = #{ord_cd}
</select>

<select id="getContract" resultType="com.itwillbs.domain.OrdercontractDTO">
select c.CON_CD "con_cd", p.PRO_NAME "pro_name",p.PRO_CD "pro_cd", cl.CLI_NAME "cli_name",cl.CLI_CD"cli_cd", c.CON_VOL "con_vol",p.PRO_PRICE "pro_price",
c.CON_PAY_DATE "con_pay_date",c.CON_DUE_DATE "con_due_date" ,c.CON_INFO_STATUS "con_info_status"
from CONTRACT c join PRODUCT p
on c.pro_cd = p.pro_cd 
join CLIENT cl 
on cl.cli_cd = c.cli_cd
where c.con_cd = #{con_cd}
</select>

<select id="getContractList" resultType="com.itwillbs.domain.OrdercontractDTO">
select c.*, cl.*, p.*
	from CONTRACT c
	join PRODUCT p
	on c.pro_cd = p.pro_cd
	join CLIENT cl
	on c.cli_cd = cl.cli_cd
	<where>
	<if test="search1 != '' and search1 != null ">
	c.CON_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null">
	and cl.CLI_NAME like concat ('%', #{search2}, '%')
	</if>
	<if test="search3 != '' and search3 != null">
	and p.PRO_NAME like concat('%', #{search3}, '%')
	</if>
	</where>
	order by CON_CD desc
	limit #{startRow},#{pageSize}
	</select>

<update id="updateOrder">
	update ORDERS
	SET ORD_CD = #{ord_cd}, PRO_CD = #{pro_cd},  CLI_CD= #{cli_cd},ORD_VOL= #{ord_vol},  USER_ID= #{user_id},ORD_DATE= #{ord_date},
	ORD_DUE_DATE= #{ord_due_date},ORD_PAY_DATE= #{ord_pay_date}
	where ORD_CD = #{ord_cd}
</update>

<update id="updateContract">
	update CONTRACT
	SET CON_CD = #{con_cd}, PRO_CD = #{pro_cd},  CLI_CD= #{cli_cd},CON_VOL= #{con_vol}, CON_DATE= #{con_date},
	CON_DUE_DATE= #{con_due_date},CON_PAY_DATE= #{con_pay_date}
	where CON_CD = #{con_cd}
</update>

<select id="getSearchOrderList" resultType="com.itwillbs.domain.OrdercontractDTO">
select o.ORD_CD "ord_cd", p.PRO_NAME "pro_name", c.CLI_NAME "cli_name", o.ORD_VOL "ord_vol",p.PRO_PRICE "pro_price",USER_ID "user_id",
o.ORD_DATE "ord_date",o.ORD_DUE_DATE "ord_due_date",p.PRO_VOL "pro_vol",o.ORD_INFO_STATUS "ord_info_status"
from ORDERS o join PRODUCT p
on o.pro_cd = p.pro_cd 
join CLIENT c 
on c.cli_cd = o.cli_cd 
	
order by ORD_CD desc
</select>
<select id="getOrderList2" resultType="com.itwillbs.domain.OrdercontractDTO">
    select PRO_NAME "pro_name", PRO_CD "pro_cd" , PRO_TYPE "pro_type", PRO_PRICE "pro_price"
    from PRODUCT 
  
    <where>
      pro_type != 0
<!--       OR pro_type = 2 -->
	
        
     <if test="search1 != '' and search1 != null"  >
		and PRO_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and PRO_NAME like concat('%', #{search2}, '%')
	</if>
	<if test="search5 != '' and search5 != null and search5 != 4">
		and PRO_TYPE like concat('%', #{search5}, '%')
	</if>
    </where>
   
order by pro_cd desc 
limit #{startRow},#{pageSize}
</select>
<select id="getContractList2" resultType="com.itwillbs.domain.OrdercontractDTO">
    select PRO_NAME "pro_name", PRO_CD "pro_cd" , PRO_TYPE "pro_type", PRO_PRICE "pro_price"
    from PRODUCT 
  
    <where>
      pro_type = 0
      <if test="search1 != '' and search1 != null"  >
		and PRO_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and PRO_NAME like concat('%', #{search2}, '%')
	</if>
	
     </where>
        
     order by pro_cd desc 
limit #{startRow},#{pageSize}
</select>
<select id="getClientList" resultType="com.itwillbs.domain.OrdercontractDTO">
    select CLI_CD "cli_cd", CLI_NAME "cli_name" 
    from CLIENT 
    <where>
	<if test="search1 != '' and search1 != null"  >
		and CLI_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and CLI_NAME like concat('%', #{search2}, '%')
	</if>
     </where>
     order by cli_cd desc 
limit #{startRow},#{pageSize}
</select>

<select id="getSearchContractList" resultType="com.itwillbs.domain.OrdercontractDTO">
select c.CON_CD "con_cd",p.PRO_NAME "pro_name",cl.CLI_NAME "cli_name",c.CON_VOL "con_vol",p.PRO_PRICE "pro_price",USER_ID "user_id",
c.CON_DATE "con_date",c.CON_DUE_DATE "con_due_date",p.PRO_VOL "pro_vol",c.CON_INFO_STATUS "con_info_status"
from CONTRACT c
	join PRODUCT p
	on c.pro_cd = p.pro_cd
	join CLIENT cl
	on c.cli_cd = cl.cli_cd
	
order by CON_CD desc
</select>

<delete id="deleteOrder">
			delete from ORDERS
			where ORD_CD = #{ord_cd}
</delete>

<delete id="deleteContract">
			delete from CONTRACT
			where CON_CD = #{con_cd}
</delete>

<select id="getConLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(CON_CD, '[^0-9]', '') AS numbers_only
	FROM CONTRACT
	ORDER BY numbers_only DESC
	LIMIT 1
</select>

<select id="getOrdLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(ORD_CD, '[^0-9]', '') AS numbers_only
	FROM ORDERS
	ORDER BY numbers_only DESC
	LIMIT 1
</select>

<select id="getContractCount" resultType="java.lang.Integer">
	select count(*)
	from CONTRACT c
	left join PRODUCT p
	on c.pro_cd = p.pro_cd
	left join CLIENT cl
	on c.cli_cd = cl.cli_cd
	<where>
	<if test="search1 != '' and search1 != null ">
	c.CON_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search3 != '' and search3 != null">
	and p.PRO_NAME like concat('%', #{search3}, '%')
	</if>
	<if test="search2 != '' and search2 != null">
	and cl.CLI_NAME like concat ('%', #{search2}, '%')
	</if>
	</where>
</select>

<insert id="insertMib">
	insert into MINBOUND
	values(#{mib_cd}, #{ord_cd}, null, null, 0)
</insert>

<delete id="deleteMib">
	delete 
	from MINBOUND
	where ord_cd = #{ord_cd}
</delete>

<insert id="insertOb">
	insert into OUTBOUND
	values(#{ob_cd}, #{con_cd}, null, null, 0)
</insert>

<delete id="deleteOb">
	delete 
	from OUTBOUND
	where con_cd = #{con_cd}
</delete>

<select id="getMibLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(MIB_CD, '[^0-9]', '') AS numbers_only
	FROM MINBOUND
	ORDER BY numbers_only DESC
	LIMIT 1
</select>

<select id="getObLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(OB_CD, '[^0-9]', '') AS numbers_only
	FROM OUTBOUND
	ORDER BY numbers_only DESC
	LIMIT 1
</select>

<select id="getContractCount2" resultType="java.lang.Integer">
    select count(*)    
    from PRODUCT 
  <where>
      pro_type = 0
      <if test="search1 != '' and search1 != null"  >
		and PRO_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and PRO_NAME like concat('%', #{search2}, '%')
	</if>
	 </where>
      order by pro_cd desc 
</select>

<select id="getOrderCount2" resultType="java.lang.Integer">
     select count(*)    
    from PRODUCT
  <where>
      pro_type != 0
<!--       OR pro_type = 2 -->
	<if test="search1 != '' and search1 != null"  >
		and PRO_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and PRO_NAME like concat('%', #{search2}, '%')
	</if>
	<if test="search5 != '' and search5 != null and search5 != 4">
		and PRO_TYPE like concat('%', #{search5}, '%')
	</if>
    </where>
   order by pro_cd desc 
</select>

<select id="getClientCount" resultType="java.lang.Integer">
     select count(*)    
    from CLIENT
  	<where>
      <if test="search1 != '' and search1 != null"  >
		and CLI_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
		and CLI_NAME like concat('%', #{search2}, '%')
	</if>
	</where>
  order by cli_cd desc 
</select>

<select id="getContractform" resultType="com.itwillbs.domain.OrdercontractDTO">
select c.CON_CD "con_cd", p.PRO_NAME "pro_name",p.PRO_CD "pro_cd", cl.CLI_NAME "cli_name",cl.CLI_CD"cli_cd", c.CON_VOL "con_vol",p.PRO_PRICE "pro_price",
cl.CLI_CEO "cli_ceo",cl.CLI_BUSINESS_TYPE "cli_business_type",cl.CLI_CATEGORY "cli_category",cl.CLI_BASIC_ADDRESS "cli_basic_address",
cl.CLI_TEL_NUMBER "cli_tel_number",cl.CLI_FAX_NUMBER "cli_fax_number",c.CON_DATE "con_date",c.CON_PAY_DATE "con_pay_date"

from CONTRACT c join PRODUCT p
on c.pro_cd = p.pro_cd 
join CLIENT cl 
on cl.cli_cd = c.cli_cd
where c.con_cd = #{con_cd}

</select>
<select id="getOrderform" resultType="com.itwillbs.domain.OrdercontractDTO">
select o.ORD_CD "ord_cd", p.PRO_NAME "pro_name",p.PRO_CD "pro_cd", cl.CLI_NAME "cli_name",cl.CLI_CD"cli_cd", o.ORD_VOL "ord_vol",p.PRO_PRICE "pro_price",
cl.CLI_CEO "cli_ceo",cl.CLI_BUSINESS_TYPE "cli_business_type",cl.CLI_CATEGORY "cli_category",cl.CLI_BASIC_ADDRESS "cli_basic_address",
cl.CLI_TEL_NUMBER "cli_tel_number",cl.CLI_FAX_NUMBER "cli_fax_number",o.ORD_DATE "ord_date",o.ORD_PAY_DATE "ord_pay_date"

from ORDERS o join PRODUCT p
on o.pro_cd = p.pro_cd 
join CLIENT cl 
on cl.cli_cd = o.cli_cd
where o.ord_cd = #{ord_cd}
</select>

<select id="getContractVol" resultType="com.itwillbs.domain.OrdercontractDTO">
	select p.PRO_NAME "pro_name", c.CON_VOL "con_vol" , c.CON_DATE "con_date"
	from CONTRACT c join PRODUCT p
	ON c.PRO_CD = p.PRO_CD
ORDER BY p.PRO_NAME, c.CON_DATE	
</select>

<select id="orderVolChart" resultType="com.itwillbs.domain.OrdercontractDTO">
	select p.PRO_NAME "pro_name", o.ORD_DATE "ord_date", o.ORD_VOL "ord_vol"
	from ORDERS o join PRODUCT p
	ON o.PRO_CD = p.PRO_CD
ORDER BY p.PRO_NAME , o.ORD_DATE
</select>



</mapper>