<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.productionMapper">

<insert id="insertLine">
insert into LINE(LINE_CD, USER_ID, LINE_STATUS, LINE_NAME, LINE_DATE)
values(#{lineCode}, #{name}, #{lineStatus}, #{lineName}, #{update})
</insert>

<select id="getLineList" resultType="com.itwillbs.domain.ProductionDTO">
	select LINE_CD "lineCode", USER_ID "name", LINE_STATUS "lineStatus", LINE_NAME "lineName", LINE_DATE "update"
	from LINE
	order by LINE_CD desc
</select>

<select id="getLineCode" resultType="com.itwillbs.domain.ProductionDTO">
	select LINE_CD "lineCode"
	from LINE
	where LINE_CD = #{lineCode}
</select>

<update id="switchLineStatus">
	update LINE
	SET LINE_STATUS = 1
	where LINE_CD = #{lineCode}
</update>

<insert id="insertInstruction">
	insert into INSTRUCTION
	values(#{instructionCode}, #{name}, #{lineCode}, #{insVol}, #{instructionDate}, 0, #{productCode})
</insert>

<!-- INSTRUCTION 작업지시 -->
<select id="getInstructionList" resultType="com.itwillbs.domain.ProductionDTO">
	SELECT i.INS_CD "instructionCode", i.LINE_CD "lineCode", i.INS_VOL "insVol", i.INS_DATE "instructionDate", i.INS_STATUS "instractionStatus", i.PRO_CD "productCode", p.PRO_NAME as "productName"
	from INSTRUCTION i join PRODUCT p
	ON i.PRO_CD = p.PRO_CD
	order by INS_CD desc
</select>

<!-- PERFORMANCE 생산실적 -->
<select id="getPerformanceList" resultType="com.itwillbs.domain.ProductionDTO">
	SELECT per.PER_CD "perCode", per.INS_CD "instructionCode", ins.LINE_CD "lineCode", ins.INS_VOL "insVol", per.ACTUAL_COMPLETION_AMOUNT "perACA", per.PER_NOTE "perNote", per.PER_DATE "perDate", ins.USER_ID "name"
	FROM PERFORMANCE per JOIN INSTRUCTION ins
	on per.INS_CD = ins.INS_CD
	order by PER_CD desc
</select>

<select id="getProductList" resultType="com.itwillbs.domain.ProductionDTO">
	select PRO_CD "productCode", PRO_NAME "productName", PRO_VOL "productVol"
	from PRODUCT
	order by PRO_CD desc
</select>

<update id="updateLine">
	update LINE
	SET LINE_NAME = #{lineName}, LINE_STATUS = #{lineStatus}
	where LINE_CD = #{lineCode}
</update>

<delete id="deleteLine">
	delete
	from LINE
	WHERE LINE_CD = #{lineCode}
</delete>

<select id="getInstruction" resultType="com.itwillbs.domain.ProductionDTO">
	select i.INS_CD "instructionCode", i.LINE_CD "lineCode", i.INS_VOL "insVol", i.INS_DATE "instructionDate", i.INS_STATUS "instractionStatus", i.PRO_CD "productCode", p.PRO_NAME as "productName"
	from INSTRUCTION i join PRODUCT p
	ON i.PRO_CD = p.PRO_CD
	WHERE i.INS_CD = #{instructionCode}
</select>

<update id="updateInstruction">
	update INSTRUCTION
	SET PRO_CD = #{productCode}, LINE_CD = #{lineCode}, INS_VOL = #{insVol}, INS_DATE = #{instructionDate}
	where INS_CD = #{instructionCode}
</update>

<delete id="deleteInstruction">
	delete
	from INSTRUCTION
	where INS_CD = #{instructionCode}
</delete>


</mapper>