<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.itwillbs.mappers.warehouseMapper">
  
  
  <insert id="insertWarehouse">
  	insert into WAREHOUSE(WH_CD, WH_NAME, WH_AREA, WH_MVOL, WH_LOCAL, WH_TEL_NUMBER)
  	values (#{warehouseCode}, #{warehouseName}, #{warehouseArea}, #{warehouseMvol}, #{warehouseLocal}, #{warehouseTelNumber})
  </insert>
  
  <select id="getWarehouseList" resultType="map">
  	select sum(p.PRO_VOL) as "productVol", w.WH_CD "warehouseCode", w.WH_NAME "warehouseName", w.WH_AREA "warehouseArea", w.WH_MVOL "warehouseMvol", w.WH_LOCAL "warehouseLocal", w.WH_TEL_NUMBER "warehouseTelNumber"
  	from WAREHOUSE w left join PRODUCT p
  	on w.WH_CD = p.WH_CD
  	<where>
  	<if test="warehouseCode != null">
  	w.WH_CD like concat('%', #{warehouseCode},'%')
  	</if>
  	<if test="warehouseName != null">
  	and w.WH_NAME like concat('%', #{warehouseName}, '%')
  	</if>
  	<if test="warehouseLocal != null">
  	and w.WH_LOCAL like concat('%', #{warehouseLocal}, '%')
  	</if>
  	</where>
  	group by w.WH_CD
  	order by w.WH_CD desc
  </select>
  
  <select id="getSearchWarehouseList" resultType="map">
	select sum(p.PRO_VOL) as "productVol", w.WH_CD "warehouseCode", w.WH_NAME "warehouseName", w.WH_AREA "warehouseArea", w.WH_MVOL "warehouseMvol", w.WH_LOCAL "warehouseLocal", w.WH_TEL_NUMBER "warehouseTelNumber"
  	from WAREHOUSE w left join PRODUCT p
  	on w.WH_CD = p.WH_CD
  	<where>
  	<if test="warehouseCode != null">
  	w.WH_CD like concat('%', #{warehouseCode},'%')
  	</if>
  	<if test="warehouseName != null">
  	and w.WH_NAME like concat('%', #{warehouseName}, '%')
  	</if>
  	<if test="warehouseLocal != null">
  	and w.WH_LOCAL like concat('%', #{warehouseLocal}, '%')
  	</if>
  	</where>
  	group by w.WH_CD
  	order by w.WH_CD desc
  </select>
  
  <update id="updateWarehouse">
  	update WAREHOUSE w
  	left join PRODUCT p
  	on w.WH_CD = p.WH_CD
  	SET w.WH_CD = #{warehouseCode}, w.WH_NAME = #{warehouseName}, w.WH_AREA = #{warehouseArea}, w.WH_MVOL = #{warehouseMvol}, w.WH_LOCAL = #{warehouseLocal}, w.WH_TEL_NUMBER = #{warehouseTelNumber}
    where w.WH_CD = #{warehouseCode};  
  </update>
  
  <delete id="deleteWarehouse">
  	delete
	from WAREHOUSE
	WHERE WH_CD = #{warehouseCode}
  </delete>
  
      
	<select id="getWarehouseLastNum" resultType="java.lang.Integer">
	SELECT REGEXP_REPLACE(WH_CD, '[^0-9]', '') AS numbers_only
	FROM WAREHOUSE
	ORDER BY numbers_only DESC
	LIMIT 1
	</select>
	
	
  
<!--   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   -->
  
  
  <insert id="insertStock">
  	insert into Warehouse(WH_CD, WH_NAME, WH_AREA, WH_MVOL, WH_LOCAL, WH_TEL_NUMBER)
  	values (#{warehouseCode}, #{warehouseName}, #{warehouseArea}, #{warehouseMvol}, #{warehouseLocal}, #{warehouseTelNumber})
  </insert>
  
  <select id="getStockList" resultType="map">
	select p.PRO_CD "productCode", p.PRO_NAME "productName", p.PRO_TYPE "productType", p.PRO_VOL "productVol", w.WH_CD "warehouseCode", w.WH_NAME "warehouseName", w.WH_AREA "warehouseArea", w.WH_MVOL "warehouseMvol"
  	from WAREHOUSE w inner join PRODUCT p
  	on w.WH_CD = p.WH_CD
  	<where>
  	<if test="productCode != null">
  	w.WH_CD like concat('%', #{productCode},'%')
  	</if>
  	<if test="productName != null">
  	and w.WH_NAME like concat('%', #{productName}, '%')
  	</if>
  	<if test="warehouseName != null">
  	and w.WH_LOCAL like concat('%', #{warehouseName}, '%')
  	</if>
  	</where>
  	order by p.PRO_CD desc
  </select>
  
  <select id="getSearchStockList" resultType="map">
  	select p.PRO_CD "productCode", p.PRO_NAME "productName", p.PRO_TYPE "productType", p.PRO_VOL "prodcutVol", w.WH_CD "warehouseCode", w.WH_NAME "warehouseName", w.WH_AREA "warehouseArea", w.WH_MVOL "warehouseMvol"
  	from WAREHOUSE w inner join PRODUCT p
  	on w.WH_CD = p.WH_CD
  	<where>
  	<if test="productCode != null">
  	p.PRO_CD like concat('%',#{productCode},'%' )
  	</if>
  	<if test="productName != null">
  	and p.PRO_NAME like concat('%', #{productName}, '%')
  	</if>
  	<if test="warehouseName != null">
  	and w.WH_NAME like concat('%', #{warehouseName}, '%')
  	</if>
  	<if test="productType != 100">
	and p.PRO_TYPE = #{productType}
	</if>
  	</where>
  	order by w.WH_CD desc
  </select>
  
  <select id="getStockCodeList" resultType="map">
  	select p.PRO_CD "productCode", p.PRO_NAME "productName", p.PRO_VOL "prodcutVol", w.WH_CD "warehouseCode", w.WH_NAME "warehouseName", w.WH_AREA "warehouseArea", w.WH_MVOL "warehouseMvol"
  	from WAREHOUSE w join PRODUCT p
  	<where>
  	<if test="productCode != null">
  	p.PRO_CD like concat('%',#{productCode},'%' )
  	</if>
  	<if test="productName != null">
  	and p.PRO_NAME like concat('%', #{productName}, '%')
  	</if>
  	<if test="warehouseName != null">
  	and w.WH_NAME like concat('%', #{warehouseName}, '%')
  	</if>
  	</where>
  	order by p.PRO_CD desc
  </select>
  
  <update id="updateStock">
  	update PRODUCT
  	set PRO_VOL = #{productVol}
  	WHERE PRO_VOL = #{productVol}
  </update>
  
  <select id="getWhList" resultType="com.itwillbs.domain.WarehouseDTO">
	select WH_CD "warehouseCode", WH_NAME "warehouseName", WH_AREA "warehouseArea", WH_MVOL "warehouseMvol", WH_LOCAL "warehouseLocal", WH_TEL_NUMBER "warehouseTelNumber"
	from WAREHOUSE
  <where>
	<if test="search1 != '' and search1 != null"  >
	WH_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
	and WH_NAME like concat('%', #{search2}, '%')
	</if>
  </where>
	order by WH_CD desc
	limit #{startRow}, #{pageSize}
  </select>
  
  <select id="getWhCount" resultType="java.lang.Integer">
	select count(*)
	from WAREHOUSE
  <where>
	<if test="search1 != '' and search1 != null"  >
	and WH_CD like concat('%', #{search1}, '%')
	</if>
	<if test="search2 != '' and search2 != null ">
	and WH_NAME like concat('%', #{search2}, '%')
	</if>
  </where>
  </select>
  
  </mapper>